<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
</head>

<body class="body">
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header class="nav-bar">
        <div class="nav-bar__logo">Resto</div>
        <nav class="nav-menu">
            <a class="nav-menu__item" href="/">Home</a>
            <a class="nav-menu__item" href="#">Favorite</a>
            <a class="nav-menu__item" href="https://github.com/ahmadbilalse">About Us</a>
        </nav>
        <button id="btn-nav" class="btn btn-nav"><i class="fas fa-bars" aria-label="hamburger navigation button"></i></button>
        <nav class="nav-menu-mobile hidden">
            <a class="nav-menu-mobile__item" href="/">Home</a>
            <a class="nav-menu-mobile__item" href="#">Favorite</a>
            <a class="nav-menu-mobile__item" href="https://github.com/ahmadbilalse">About Us</a>
        </nav>
    </header>
    <section id="maincontent" class="hero">
        <div class="hero__text">
            <h2 class="hero__title">A home of delicious food</h2>
            <p class="hero__description">Replenish your appetite at <b>Resto</b>. You don't have to worry about our quality of food since we have been serving for 30 years.</p>
        </div>
        <img class="hero__image" src="./images/heros/hero-image_2.jpg" width="450" alt="Food on table">
    </section>
    <section class="restaurant-section">
        <h2 class="restaurant-section-title">Explore Our Restaurants</h2>
        <div class="restaurants"></div>
    </section>
    <footer class="footer">
        <p class="copyright">Copyright © 2021 - Resto</p>
    </footer>

    <script src="../scripts/index.js"></script>
</body>

</html>